<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <span>{{request.user}}</span>
    {% comment %} <a href="{% url 'accounts:user_logout' %}" style="margin-left: 12px">logout</a> {% endcomment %}
    <form action="{% url 'accounts:user_logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    <hr>
    {% block main %}
    {% endblock main %}
</body>
</html>